<style>
     .last__task__content__ul {
        padding: 5px 10px;
    }
    .task__ul {
        list-style: none;
        margin-bottom: 20px;
    }
    .task__li {
        padding: 5px;
        border-left: 2px dashed rgba(89, 146, 97, 0.712);
    }
    .task__ul__title {
        padding-left: 40px;
        color: white;
        display: block;
        border-bottom: 2px dashed rgba(89, 146, 97, 0.712);
        padding-bottom: 5px;
        width: fit-content;
    }
</style>
<div class="last__task__content__ul">
        <span class="task__ul__title">Прогресс</span>
        <ul class="task__ul">
            <li class="task__li" data-status="completed"><i class="fa fa-square"></i> Фыафыавфафыва ывф</li>
            <li class="task__li"><i class="fa fa-square"></i> Фа ыв афыва фвы</li>
        </ul>
    </div>