<style>
    .task__dashboards {
        background-color: rgb(194, 212, 195);
        height: 60vh;
        font-size: 1.2em;
    }
    a {
        color: unset;
    }
    .task__dashboards__header {
        background-color: rgb(124, 148, 129);
        font-size: 1.5em;
        padding: 10px 20px;
        text-shadow: 1px 1px 3px #3b6546;
    }
    .task__dashboards__content {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        height: calc(60vh - 94px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dashboard {
        background-color: #26412db4;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        height: fit-content;
        width: 45%;
        min-width: 230px;
        max-width: 300px;
        box-sizing: border-box;
        box-shadow: 0px 0px 13px 2px #26412db4;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .dashboard:nth-child(2n) {
        margin-right: 0;
    }
    .dashboard:last-child {
        border: 2px dashed #26412db4;
        cursor: pointer;
        box-shadow: unset;
        user-select: none;
        color: #26412db4;
        background-color: transparent;
        transition: background 0.4s ease-in-out;
    }
    .dashboard:last-child:hover {
        background-color: #3b65461e;
    }
    .dashboards__header {
        font-size: larger;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed rgba(20, 31, 20, 0.712);
    }
    .right__block {
        font-size: smaller;
        display: flex;
        align-items: center;
    }
    .dashboards__header div{
        width: fit-content;
    }
    .dashboard__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard__content:last-child {
        padding: 10px;
    }
    .dashboard__counts {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    dl {
        display: flex;
        width: 180px;
        justify-content: space-between;
    }
    .dashboard__link {
        border-radius: 3px;
        color: white;
        text-decoration-line: none;
        margin-top: 20px;
        display: block;
        margin-bottom: 20px;
        padding: 10px 40px;
        width: fit-content;
        background-color: #a2965f;
        transition: background 0.4s ease-in-out; 
    }
    .dashboard__link:hover {
        background-color: #c1b473;
    }
    .form {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        background-color: #3b654627;
    }
    .form form {
        width: 500px;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #263130;
        color: whitesmoke;
        font-size: 1.4em;
        align-items: center;
        padding-bottom: 30px;
    }
    .form form h2 {
        background-color: rgb(52, 65, 58);
        padding: 10px 20px;
        width: 460px;
        font-weight: 300;
        font-family: PoiretOne-Regular !important;
        margin-bottom: 20px;
    }
    .form form input {
        margin:  5px 20px;
        font-family: PoiretOne-Regular !important;
        outline: #c1b473;
        color: #293d2e;
        width: 300px;
        font-size: 1em;
        padding: 5px 2px;
    }
    .close {
        position: absolute;
        right: 3%;
        top: 5%;
        z-index: 5;
        font-size: 1.4em;
        cursor: pointer;
        text-align: center;
    }
    .form__msg {
        font-family: PoiretOne-Regular;
    }
    .fa-exclamation-circle {
        color: brown;
    }
    #send_btn {
        color: whitesmoke;
        border-radius: 2px;
        width: 308px;
        background-color: rgb(179, 150, 57);
        border: 0;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
    }
    #send_btn:hover {
        background-color: rgb(207, 175, 69);
    }
</style>
<div class="task__dashboards">
    <div class="task__dashboards__header">
        Мои доски
    </div>
    <div class="task__dashboards__content">
        <% projects.forEach(pr => { %>
            <div class="dashboard">
                    <div class="dashboards__header">
                        <div class="left__block">
                                <%= pr.name %>
                        </div>
                        <div class="right__block">
                            <a href="/app/projects/<%=pr._id%>/remove" title="Удалить" class="project_remove"><i class="fa fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="dashboard__content">
                        <div class="dashboard__counts">
                            <dl>
                                <dt>Статус:</dt>
                                <dd><% if (pr.author = user._id) {%>Автор<%} else {%>Наблюдающий<%}%></dd>
                            </dl>
                            <dl>
                                <dt>Кол-во задач:</dt>
                                <dd>12</dd>
                            </dl>
                        </div>
                        <a href="/app/projects/<%=pr._id%>" class="dashboard__link">Перейти</a>
                    </div>
                </div>

        <%})%>
        
        
        <div class="dashboard">
                <div class="dashboards__header">
                    <div class="left__block">
                            Добавить доску
                    </div>
                </div>
                <div class="dashboard__content">
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>
    </div>
</div>

<div class="form">
<form>
    <h2>Создать доску</h2>
    <input type="name" placeholder="Заголовок" name="name">
    <input type="submit" value="Создать" id="send_btn">
    <div class="close"><i class="fa fa-window-close"></i></div>
    <div class="form__msg"></div>
</form>
</div>

<script>
    let create_btn = document.querySelector('.dashboard:last-child');
    create_btn.onclick = function() {
        let form = document.querySelector('.form');
        form.style.zIndex = 4;
        form.style.opacity = 1;
    }
    let close = document.querySelector('.close');
    close.onclick = function() {
        let form = document.querySelector('.form');
        form.style.opacity = 0;
        setTimeout(()=> {form.style.zIndex = '-1';}, 200)
        document.querySelector('.form__msg').innerHTML = "";
        document.querySelector('.form').children[0].children[1].value = "";
    }
    document.querySelectorAll('.project_remove').forEach((el)=>{
        let ajax = new XMLHttpRequest();

        el.onclick = () => {
            ajax.open('GET', el.href, true);
            console.log(el.href);
            ajax.send();
            ajax.onreadystatechange = () => {
                if (ajax.readyState !=4) {
                    return
                } if (ajax.status === 200) {
                    let dash = el.parentNode.parentNode.parentNode;
                    dash.parentNode.removeChild(dash);
                }
            }
            return false
        }
    })
    document.querySelector('.form').children[0].onsubmit = function() {
        let ajax = new XMLHttpRequest();
        let name = document.querySelector('.form').children[0].children[1].value;
        ajax.open('POST', '/app/projects/create', true);
        ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        ajax.send(`name=${name}`);
        ajax.onreadystatechange = function() {
            if (ajax.readyState != 4) {
                return
            }
            if (ajax.status === 200) {
                dash_resp = JSON.parse(ajax.responseText);
                document.querySelector('.form__msg').innerHTML = '<i class="fa fa-check"></i> Успешно';
                let dash = document.createElement('div');
                dash.className = 'dashboard';
                dash.innerHTML = `  <div class="dashboards__header">
                        <div class="left__block">
                               ${dash_resp.name}
                        </div>
                        <div class="right__block">
                            <a href="/app/projects/${dash_resp._id}/remove" title="Удалить" class="project_remove"><i class="fa fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="dashboard__content">
                        <div class="dashboard__counts">
                            <dl>
                                <dt>Статус:</dt>
                                <dd>Автор</dd>
                            </dl>
                            <dl>
                                <dt>Кол-во задач:</dt>
                                <dd>0</dd>
                            </dl>
                        </div>
                        <a href="/app/projects/${dash_resp._id}" class="dashboard__link">Перейти</a>
                    </div>`;
                document.querySelector('.task__dashboards__content').insertAdjacentElement('afterbegin', dash);
                document.querySelector('.form').children[0].children[1].value = "";
                setTimeout(()=> {
                    let form = document.querySelector('.form');
                    form.style.opacity = 0;
                    setTimeout(()=> {form.style.zIndex = '-1';}, 200)
                }, 1000)
                document.querySelector('.form__msg').innerHTML = "";
            } else {
                document.querySelector('.form__msg').innerHTML = '<i class="fa fa-exclamation-circle"></i> Такой проект уже существует';
                document.querySelector('.form').children[0].children[1].value = "";
            }
        }
        return false;   
    }

</script>