<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myTaskNote|Главная</title>
  <link rel="stylesheet" type="text/css" href="../public/assets/css/main.css" />
</head>
<body>
  <div class="main">
    <div class="main__header"><%= include('elements/header') %></div>
    <div class="main__content"><form action="/" method="post">
      <p>
        <label>Username:
          <input type="text" name="email" value="" />
        </label>
      </p>
      <p>
        <label>Password:
          <input type="password" name="password" value="" />
        </label>
      </p>
      <p>
        <button type="submit">Log In</button>
      </p>
    </form></div>
  </div>
  
  
</body>
</html>
